<div id="header">
    <div class="header-text">
        <img src="htulogo.png" height="30px" width="30px">
        <a href="/curriculum"><div class="title">Techccelerator Hub</div></a>
        <div class="profile">
            <img src="<%= userData.avatar_url %>" height="30px" width="30px">
            <div class="login-out"><%= userData.name %></div>
        </div>
    </div>
    <div class="header-nav">
        <a href="/curriculum"><div class="nav-tab">Curriculum</div></a>
        <a href="/pre-techccelerator"><div class="nav-tab">Pre-Techccelerator</div></a>
        <a href="/technical-reference-package"><div class="nav-tab">Technical Reference Package</div></a>
        <a href="/workshops"><div class="nav-tab">Workshops</div></a>
        <a href="/activities"><div class="nav-tab">Activities</div></a>
    </div>
</div>