<div class="nav-buttons">
    <% if (back) { %>
        <a href="<%= back %>"><div class="nav-btn back">Back</div></a>
    <% } else { %>
        <div class="nav-btn back disabled">Back</div>
    <% } %>
    <% if (!next) { %>
        <div class="nav-btn next disabled">Next</div>
    <% } else { %>
        <a href="<%= next %>"><div class="nav-btn next">Next</div></a>
    <% } %>
</div>