<div id="progress">
    <div id="done-bar" style="--percent: <%= percentDone %>;"></div><div id="empty-bar" style="--percent: <%= percentDone %>;"></div>
    <div class="percent"><%= percentDone %>%</div>
</div>