<a href="<%= link %>">
    <li class="sub-section <%= selected ? 'selected' : '' %>">
        <!--<% if (showCheckboxes) { %>
            <i class="<%= done ? 'far fa-check-circle' : 'far fa-circle' %>"></i>
        <% } %>-->
        <%= name %>
    </li>
</a>