<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="/css/index.css">
    <script src="js/index.js"></script>
    <script src="https://kit.fontawesome.com/dcbd972c7e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="container">
        <%- include('partials/header', {userData, tabData}) %>
        <div id="page">
            <%- include('tabs/'+tabData.activeTab, {pageData}) %>
        </div>
        
    </div>
    <%- include('partials/footer') %>
</body>
</html>