<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/index.js"></script>
</head>
<body>
    <div id="container">
        <div id="sidebar">
            <ul>
                <li>Helo 1</li>
                <li>Hello2</li>
                <li>helo again</li>
            </ul>
        </div>
        <div id="main">
            <h1>Hello, <%- name -%>!</h1>
            <video width="320" height="240" controls>
                <source src="../movie.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</body>
</html>