<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/index.js"></script>
</head>
<body>
    <div id="container">
        <div id="sidebar">
            <h3>Pre-Techccelerator</h3>
            <ul>
                <a href="/sec-1"><li class="section">Learn some Javascript</li></a>
                <a href="/sec-2"><li class="section">Build your game</li></a>
                <a href="/sec-2-1"><li class="sub-section">Add movement</li></a>
                <a href="/sec-2-2"><li class="sub-section">Game rules</li></a>
                <a href="/sec-2-3"><li class="sub-section">Upload to Github</li></a>
                <a href="/sec-2"><li class="section">Test your knowledge</li></a>
            </ul>
        </div>
        <div id="main">
            <%- include('partials/'+page, data) %>
        </div>
    </div>
</body>
</html>