<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="/css/index.css">
    <script src="js/index.js"></script>
    <script src="https://kit.fontawesome.com/dcbd972c7e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="container">
        <div id="header">
            <a href="/"><div class="title">Pre-Techccelerator</div></a>
            <div class="user">User</div>
        </div>
        <div id="progress">
            <div id="done-bar"></div><div id="empty-bar"></div>
            <div class="percent">38%</div>
        </div>
        <div id="sidebar">
            <%- include('partials/sidebar', {section, sections}) %>
        </div>
        <div id="main">
            <%- include('partials/'+section+'/page'+page) %>
        </div>
    </div>
</body>
</html>