<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="/css/index.css">
    <script src="js/index.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="container">
        <h2>Welcome, <%- name -%>, to the Pre-Techccelerator Course.
        </h2>
        <p>By the end of this course, you should
            know some basic Javascript, HTML and CSS
            so that you are prepared for the Techccelerator
            program during which you will be building
            a web application from scratch.
        </p>
        
        <p>To make things fun, we will be building
            the game shown below. Try it out by clicking START.
            Move the up, left, right and down arrows to control your character.
            Eat food and you will grow. Grow big enough and you win. But don't let the red block get you!
        </p>
        
        <%- include('partials/game') %>
        
        <a href="learn-js/1"><p>Start Course!</p></a>
    </div>
</body>
</html>