<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | HighTechU Pre-Techccelerator</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="container">
        <div class="title">Login with Github</div>
        <div class="description">
            We use your Github account to register
            for our site. So everything is connected.
            If you don't already have an account, please
            create one here: http://gitub.com/signup.
        </div>
        <a href="/github-oauth"><div class="login-btn">Authorize Github</div></a>
    </div>
</body>
</html>