<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | HighTechU Pre-Techccelerator</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="container">
        <img src="/img/user-icon-2.png" alt="">
        <div class="title">Techccelerator Hub Login</div>
        <div class="description">
            We use your Github account to register for our site to save you from making yet another account, and to keep your info more secure. If you don't already have a Github account, click the button below and Github will prompt you to create one.
        </div>
        <a href="/github-oauth"><div class="login-btn">Authorize Github</div></a>
    </div>
</body>
</html>