<form method="post" action="/register">
    <input name="username" value="<%= username %>">
    <input name="name" value="<%= name %>">
    <input name="avatar_url" value="<%= avatar_url %>">
    <label for="code">Plase enter the 12-digit code you recieved in your welcome email:</label>
    <input name="code" placeholder="e.g. 166384yhh">
    <input type="submit" value="Register">
</form>