/* HEADER */
:root {
    --header-height: 70px;
    --nav-height: 50px;
    --green: #009900;
    --med-grey: #4d4d4d;
    --total-height: calc(var(--nav-height) + var(--header-height));
    --new: lightpink;
}


#header {
    height: var(--header-height);
    padding: 5px 20px 5px 20px;
    background-color: var(--darkest-grey);
    width: 100%;
    color: white;
    position: fixed;
    top: 0;
}
#left {
    line-height: 40px;
    width: 85%;
    height: 100%;
    float: left;
}

#left img {
    display: inline-block;
    height: 20px;
    width: 67px;
}
#left .title {
    display: inline-block;
    font-size: var(--large-font);
}
#right {
    width: 10%;
    float: right;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 80%;
}

#right img {
    margin: 0 auto;
    display: block;
}
#right .name {
    font-size: var(--med-font);
    display: block;
}

.logout {
    font-size: 12px;
}

/* HEADER NAV */
#nav {
    height: var(--nav-height);
    width: 100%;
    background: var(--darkest-grey);
    position: absolute;
    top: var(--header-height);
}

.tab {
    display: inline-block;
    color: var(--med-grey);
    min-width: 50px;
    border-radius: 1px 1px 0 0;
    text-align: center;
    font-size: var(--med-font);
    height: var(--nav-height);
    line-height: var(--nav-height);
    padding-left: 10px;
    padding-right: 10px;
    background: var(--dark-grey);
}

.tab:hover {
    background: var(--grey);
}

.active-tab {
    background: var(--med-grey);
    color: white;
}

.active-tab:hover {
    background: var(--med-grey);
}