/* HEADER */
:root {
    --top-height: 45px;
    --nav-height: 30px;
    --green: #009900;
    --med-grey: #4d4d4d;
    --header-height: var(--nav-height) + var(--top-height);
}


#header {
    height: calc(var(--top-height) + var(--nav-height));
    padding: 5px 20px 5px 20px;
    background-color: var(--darkest-grey);
    width: 100%;
    color: white;
/*     position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden; */
}
.header-left {
    line-height: 40px;
    float: left;
}

.header-left img {
    display: inline-block;
    height: 20px;
    width: 67px;
}
.header-left .title {
    display: inline-block;
    font-size: var(--large-font);
}
.header-right {
    min-width: 55px;
    min-height: 55px;
    float: right;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header-right img {
    margin: 0 auto;
    display: block;
}
.header-right .name {
    font-size: var(--med-font);
    display: block;
}

.logout {
    font-size: 12px;
}

.header-top {
    display: block;
    height: var(--top-height);
}

/* HEADER NAV */
.header-nav {
    height: var(--nav-height);
}

.nav-tab {
    display: inline-block;
    color: var(--med-grey);
    min-width: 50px;
    border-radius: 1px 1px 0 0;
    text-align: center;
    font-size: var(--med-font);
    height: var(--nav-height);
    line-height: var(--nav-height);
    padding-left: 10px;
    padding-right: 10px;
    background: var(--dark-grey);
}

.nav-tab:hover {
    background: var(--grey);
}

.active-tab {
    background: var(--med-grey);
    color: white;
}

.active-tab:hover {
    background: var(--med-grey);
}