h1 {
    font-family: "Lucida Console", "Courier New", monospace;
}

body {
    height: 100%;
    margin: 0;
    font-family: Georgia, serif;
}

html {
    height: 100%;
}
#container {
    height: 100%;
}
#sidebar {
    float: left;
    width: 20%;
    height: 100%;
    background-color: #eee;
}

#main {
    float: right;
    width: 80%;
    height: 100%;
}

ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

li.section {
    list-style: none;
    border-bottom: 1px solid white;
    padding-left: 30px;
    line-height: 60px;
}

li.sub-section {
    list-style: none;
    background-color: white;
    border-bottom: 1px solid white;
    padding-left: 30px;
    line-height: 60px;
}

.link-btn {
    background-color: #eee;
    height: 50px;
    width: 80px;
}

* {
    padding: 0;
    margin: 0;
}

#game {
    width: 500px;
    height: 200px;
    border: 1px solid black;
}

#enemy {
    width: 20px;
    height: 20px;
    background-color: red;
    position: relative;
    top: 150px;
}

#block {
    width: 20px;
    height: 20px;
    background-color: blue;
    position: absolute;
    top: 130px;
    left: 480px;
}

.section,.sub-section {
    font-size: 20px;
}

i {
    position: relative;
    /* Adjust these values accordingly */
    /*top: 5px;
    left: 5px;*/
    height: 20px;
    width: 20px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}


#header {
    height: 50px;
    padding: 5px;
    background-color: #ccc;
}

.title {
    width: 200px;
    float: left;
}

.user {
    width: 50px;
    float: right;
}

#progress {
    padding: 0px 5px 0px 5px;
    margin: none;
}

#done-bar {
    border-radius: 4px 0px 0px 4px;
    background-color: green;
    width: 1280px;
    height: 10px;
    display: inline-block;
}

#empty-bar {
    border-radius: 0px 4px 4px 0px;
    background-color: lightgrey;
    height: 10px;
    display: inline-block;
    width: 120px;
}
.percent {
    float: right;
    width: 20px;
}