/* MAIN */
:root {
    --orange: #FF8C00;
    --dark-grey: #242526;
    --grey: #3A3B3C;
    --darkest-grey: #18191A;
    --green: #009900;
    --med-grey: #4d4d4d;
    --large-font: 20px;
    --med-font: 14px;
    --small-font: 12px;
    --footer-height: 50px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    font-family: Verdana, serif;
}

html {
    height: 100%;
}

html, body {
    overflow: hidden;
}

#container {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}


#page {
    position: absolute;
    width: 100%;
    height: calc(100% - var(--footer-height) - var(--header-height));
    top: var(--header-height);
    background: var(--med-grey);
}

.page-with-sidebar-main {
    position: absolute;
    left: 20px;
    top: 20px;
    width: (100% - var(--sidebar-width)); /* doesnt work */
    height: 100%;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

/* NAV BUTTONS */
.nav-btn {
    background-color: var(--darkest-grey);
    color: white;
    height: 50px;
    width: 80px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.nav-btn-disabled {
    cursor: not-allowed;
    opacity: 0.5;
    color: #aaa;
}

.nav-buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.back {
    float: left;
}

.next {
    float: right;
}

/* PAGE (SUBSECTION PAGE) */
video {
    width: 100%;
}

/* TECHNICAL REFERENCE PACKAGE */
.iframe-container {
    width:100%;
    display: flex;
    justify-content: center;
}
iframe {
    position: absolute;
    height: 90%;
    width: 50%;
}

/* FOOTER */
footer {
    height: var(--footer-height);
    background: var(--darkest-grey);
    line-height: 50px;
    text-align: center;
    color: white;
    position:fixed;
    bottom:0;
    width: 100%;
}