/* MAIN */
:root {
    --orange: #FF8C00;
    --dark-grey: #242526;
    --grey: #3A3B3C;
    --darkest-grey: #18191A;
    --green: #009900;
    --med-grey: #4d4d4d;
}

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    font-family: Verdana, serif;
}

html {
    height: 100%;
}

#container {
    height: 100%;
}

#page {
    position: absolute;
    width: 100%;
    padding-top: 20px;
    height: 100%;
    top: 110px;
    background: var(--med-grey);
}

.pre-techccelerator-main {
    position: absolute;
    left: 270px;
    top: 20px;
    width: 700px;
    min-height: 550px;
    display: inline-block;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

/* SIDEBAR */
#sidebar {
    width: 250px;
    height: 100%;
    display: inline-block;
}

ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

li.section {
    list-style: none;
    border-bottom: 1px solid var(--med-grey);
    background-color: var(--darkest-grey);
    padding-left: 30px;
    line-height: 60px;
    color: white;
}

li.sub-section {
    list-style: none;
    border-right: 1px solid var(--med-grey);
    background-color: var(--dark-grey);
    color: white;
    border-bottom: 1px solid var(--med-grey);
    padding-left: 30px;
    line-height: 60px;
}

.section,.sub-section {
    font-size: 16px;
}

li.selected {
    background-color: var(--med-grey);
    color: white;
    border-top: 1px solid var(--med-grey);
    border-bottom: 1px solid var(--med-grey);
    border-right: none;
    /*border-left: 15px solid #aaa;*/
}

i {
    position: relative;
    height: 20px;
    width: 20px;
    right: 5px;
}

.fa-circle {
    color: #aaa;
}

.fa-check-circle {
    color: var(--green);
}

/* NAV BUTTONS */
.nav-btn {
    background-color: var(--darkest-grey);
    color: white;
    height: 50px;
    width: 80px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.nav-btn-disabled {
    cursor: not-allowed;
    opacity: 0.5;
    color: #aaa;
}

.nav-buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.back {
    float: left;
}

.next {
    float: right;
}

/* HEADER */
#header {
    height: 100px;
    padding: 5px;
    background-color: var(--darkest-grey);
    color: white;
}

.title {
    min-width: 250px;
    font-size: 25px;
    float: left;
}

.profile {
    width: 50px;
    float: right;
}

.header-top {
    display: block;
    height: 55px;
}

/* HEADER NAV */
.header-nav {
    height: 50px;
}

.nav-tab {
    display: inline-block;
    color: white;
    min-width: 50px;
    border-radius: 4px 4px 0 0;
    height: 50px;
    line-height: 50px;
    padding-left: 5px;
    padding-right: 5px;
    background: var(--darkest-grey);
}

.nav-tab:hover {
    background: var(--grey);
}

.active-tab {
    background: var(--med-grey);
}

.active-tab:hover {
    background: var(--med-grey);
}

/* PAGE (SUBSECTION PAGE) */
video {
    width: 100%;
}

/* TECHNICAL REFERENCE PACKAGE */

.iframe-container {
    /* position: absolute;
    height: 1000px;
    width: 772px; */
}
iframe {
    height: 1000px;
    width: 772px;
}

/* FOOTER */
footer {
    background: var(--darkest-grey);
    height: 50px;
    text-align: center;
    color: white;
}