#container {
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: var(--darkest-grey);
    height: 40%;
    width: 20%;
    text-align: center;
    padding: 20px;
    color: white;
    border-radius: 2px;
    align-items: center;
}

img {
    height: 60px;
    width: 60px;
}

.name {
    font-size: var(--med-font);
}

.title {
    font-size: var(--large-font);
    background: var(--med-grey);
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.message {
    font-size: var(--med-font);
    background: var(--med-grey);
    margin-bottom: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.code {
    height: 30px;
    width: 60%;
    padding-left: 10px;
    font-size: var(--med-font);
}

.btn {
    height: 35px;
    font-size: var(--med-font);
    width: 30%;
}