#container {
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: var(--darkest-grey);
    height: 40%;
    width: 20%;
    text-align: center;
    padding: 20px;
    color: white;
    border-radius: 2px;
    align-items: center;
}

img {
    height: 20%;
    width: 20%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.user-name {
    font-size: var(--med-font);
}

.title {
    font-size: var(--large-font);
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.message {
    font-size: var(--med-font);
    margin-bottom: 20px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.register-form {
    position: absolute;
    bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 90%;
}

.code {
    height: 30px;
    width: 60%;
    padding-left: 10px;
    font-size: var(--med-font);
}

.btn {
    height: 35px;
    font-size: var(--med-font);
    width: 30%;
    background: var(--light-grey);
	color: black;
}