/* SIDEBAR */

:root {
    --sidebar-width: 250px;
}
#sidebar {
    width: var(--sidebar-width);
    height: 100%;
    float: right;
    background: var(--darkest-grey);
}

ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

li.section, .sidebar-title {
    list-style: none;
    border-bottom: 1px solid var(--med-grey);
    background-color: var(--darkest-grey);
    padding-left: 30px;
    line-height: 60px;
    color: white;
}

.sidebar-title {
    border-bottom: 2px solid white;
}

li.sub-section {
    list-style: none;
    border-right: 1px solid var(--med-grey);
    background-color: var(--dark-grey);
    color: white;
    border-bottom: 1px solid var(--med-grey);
    padding-left: 30px;
    line-height: 40px;
    height: 40px;
}

.section,.sub-section {
    font-size: var(--med-font);
}

li.selected {
    background-color: var(--med-grey);
    color: white;
    border-top: 1px solid var(--med-grey);
    border-bottom: 1px solid var(--med-grey);
    border-right: none;
    /*border-left: 15px solid #aaa;*/
}

i {
    position: relative;
    height: 20px;
    width: 20px;
    right: 5px;
}

.fa-circle {
    color: #aaa;
}

.fa-check-circle {
    color: var(--green);
}