<h3>First, watch this video</h3>
<video width="320" height="240" controls>
    <source src="../../movie.mp4" type="video/mp4">
</video>
<div>Check your understanding</div>
<ul>
    <li>Javascript is a ____ language.</li>
    <li>The main difference between Javascript and other languages is:</li>
    <li>ES6 is a _______ format.</li>
</ul>
<div>
    Resrouces for further learning
    <p>http://javascript.com/learn</p>
    <p>www.anotherexample.com/course/js</p>
</div>
<a href="/learn-js/2"><div class="link-btn">Next</div></a>