<button class="btn"><i class="fa fa-download"></i> Download</button>
<button class="btn"><i class="fa fa-download"></i> View in Google Docs</button>
<div class="iframe-container">
    <iframe src="https://docs.google.com/document/d/e/2PACX-1vQauHcWio63XZMASOn9gOt1DKCRbv71E-p7ISCyOvR3ck8bZRffN2935JobAg96QQ4b5wJ-dG1QpdqI/pub?embedded=true"></iframe>
</div>